html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
}
body {
  background: url(../images/header-bg.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
position: absolute;
width: 100%;
height: 100%;
z-index: -1;

}
body h1,h2,h3,h4,h5,h6{
	    font-family: 'Asap', sans-serif;
}
/*-- header --*/
#home {
}
.top-header {
	padding: 2em 0;
}
.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
     color:#fff;
}
.logo h1 a{
	text-decoration:none;
	 color:#fff;
}
.logo span {
    border: 7px solid #00a78e;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #fff;
}
.logo{
	float:left;
}
.navigation-right{
	float:right;
}
.navigation-right ul li{
	display:inline-block;
}
.navigation-right ul li a{
	color:#fff;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
}
.navigation-right ul li.active a{
	    color: #00a78e;
}
span.menu{
	display:none;
}
/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	margin: 0 12px;
	color: #797878;
	text-shadow: none;
	position: relative;
    font-family: 'Open Sans', sans-serif;
}
.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 3px solid #00a78e;
    color: #00a78e;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
	max-width: 100%;
}
/*--banner-info--*/
.banner-info {
    background:rgba(23, 20, 20, 0.58);
    margin-top: 10em;
}
.header-left {
    padding: 3em;
}
.header-right {
    padding: 3em;
}
ul.address-text {
    padding: 0;
}
ul.address {
    padding: 0;
}
.header-left img {
     margin-top: 19px;
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
    font-weight: bold;
}
.header-right h1 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.header-right h1:before {
       width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
}
.service-head h4 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
	    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.service-head h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;

}
.header-right h6 {
       font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
	font-weight: 400;
}
ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
        color: #00a78e;
}
ul.address-text b {
    color:#fff;
}
.main-quiz-holder{margin:0 auto;position:relative;background:#FCFCFC;border:1px solid #dedede;box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;border-radius:20px 2px 20px 2px;position:relative;width:600px;}
.main-quiz-holder *{margin:0;padding:0;font-family:"Microsoft yahei",sans-serif;}
.main-quiz-holder a{text-decoration:none;color:#6C6C6C;}
.main-quiz-holder .slide-container{width:500px;padding:20px 50px 50pt 50px;}
.results-container,.intro-container{text-align:center;}
.results-container{}.main-quiz-holder .slide-container .question,.main-quiz-holder h2.qTitle{margin:10px 0 20px 0;font-size:20px;font-weight:normal;}
.main-quiz-holder h2.qTitle{font-size:20px;margin-top:30px; line-height:26px}
.main-quiz-holder .question-number{position:absolute;right:10px;top:10px;border:1px solid #F6F6F6;padding:5px;background:#F0F0F0;text-shadow:0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);border-radius:3px;color:#949494;}
.main-quiz-holder .slide-container ul.answers{margin:0px;padding:5px;list-style:none;}
.main-quiz-holder .slide-container ul.answers li{cursor:pointer;padding:5px 30px;margin:12px 0;color:#4c4c4c;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;text-shadow:0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#d4d4d4));background:-webkit-linear-gradient(#f6f6f6,#d4d4d4);background-image:-moz-linear-gradient(top,#f6f6f6,#d4d4d4);background-image:-moz-gradient(top,#f6f6f6,#d4d4d4);border:1px solid #a1a1a1;}
.main-quiz-holder .slide-container ul.answers li.selected{background:#6fb2e5;box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-o-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-webkit-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-moz-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;}
.main-quiz-holder .slide-container .prev,.main-quiz-holder .slide-container .next{height:19px;cursor:pointer;padding:5px 10px;font-size:16px;padding:5px 15px;color:#4c4c4c;border-radius:4px;text-shadow:0 1px 0 rgba(255,255,255,0.3);background:#6fb2e5;box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-o-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-webkit-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;-moz-box-shadow:0 1px 5px #0061aa,inset 0 10px 20px #b6f9ff;}
.main-quiz-holder .slide-container .next{background:#77d125;box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;-o-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;-webkit-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;-moz-box-shadow:0 1px 5px #3caa00,inset 0 10px 20px #c9ffb6;}
.main-quiz-holder .progress-keeper{width:553px;margin:0px 12px;box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;border-radius:2px;border:1px solid #dedede;margin:0px auto 20px auto;}
.main-quiz-holder .progress{width:0;height:10px;color:#4c4c4c;background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#d4d4d4));background:-webkit-linear-gradient(#f6f6f6,#d4d4d4);background-image:-moz-linear-gradient(top,#f6f6f6,#d4d4d4);background-image:-moz-gradient(top,#f6f6f6,#d4d4d4);}
.main-quiz-holder .result-keeper{margin:10px;text-align:center;}
.main-quiz-holder .notice{margin-top:-30px;color:#717171;position:absolute;right:52px;bottom:70px;}
.main-quiz-holder .slide-container .prev{width:auto; height: auto;float:left;}
.main-quiz-holder .slide-container .next,.main-quiz-holder .slide-container .final{width:auto;height: auto;float:right;}
.main-quiz-holder .slide-container .final{width:65px;}
.main-quiz-holder .nav-previous{}.main-quiz-holder .nav-next{}.main-quiz-holder .nav-show-result{padding-left:25px;background:url(images/confirm.png) left no-repeat;}
.main-quiz-holder .nav-start{display:block;margin:40px auto 0 auto; line-height:32px; font-size:20px; font-weight:bold}
.main-quiz-holder .nav-container{padding:5px;margin:15px 0;}
.main-quiz-holder .result-row{width:80px;margin:10px 20px;float:left;position:relative;}
.main-quiz-holder .result-row .resultsview-qhover{background:#FCFCFC;border:1px solid #dedede;box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;-moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;border-radius:2px 10px 2px 10px;position:absolute;width:250px;top:50px;left:-80px;z-index:200;padding:15px 30px;text-align:left;font-size:22px;}
.main-quiz-holder .resultsview-qhover ul{list-style:none;margin:10px 0;}
.main-quiz-holder .resultsview-qhover li{padding:0 28px;margin:5px 0;min-height:20px;font-size:14px;background: #FCFCFC;border:1px solid #F6F6F6;border-radius:3px;}
.main-quiz-holder .resultsview-qhover li.selected{}.main-quiz-holder .resultsview-qhover li.right{}
.main-quiz-holder .correct,.main-quiz-holder .wrong{ height:19px;cursor:pointer;padding:5px 10px;font-size:14px;padding:5px 15px;color:#4c4c4c;border-radius:4px;text-shadow:0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 0 6px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.4);}
.main-quiz-holder .correct{background:#c3e462;background:-webkit-gradient(linear,left top,left bottom,from(#c3e462),to(#90b61e));background:-webkit-linear-gradient(#c3e462,#90b61e);background-image:-moz-linear-gradient(top,#c3e462,#90b61e);background-image:-moz-gradient(top,#c3e462,#90b61e);border:1px solid #bfff00;}
.main-quiz-holder .wrong{background:#fc5e5e;background:-webkit-gradient(linear,left top,left bottom,from(#fc5e5e),to(#ea4646));background:-webkit-linear-gradient(#fc5e5e,#ea4646);background-image:-moz-linear-gradient(top,#fc5e5e,#ea4646);background-image:-moz-gradient(top,#fc5e5e,#ea4646);border:1px solid #e36d6d;}
.main-quiz-holder .correct span{padding:0 10px;background:url(images/confirm.png) 6px 2px no-repeat;}
.main-quiz-holder .wrong span{padding:0 10px;background:url(images/delete.png) 6px 2px no-repeat;color:#474747;}
.main-quiz-holder .question{padding-left:5px;line-height:1.3em;}
.main-quiz-holder .share-button{display:block;margin:15px 0;}
.jquizzy-clear{clear:both;}.main-quiz-holder .right{float:none;}
.main-quiz-holder img{border:none;}
@charset "utf-8";
body{margin:0;padding:0;background:#000000}
a {
    color:#fff;
    text-decoration:none;
}
a:hover {
    color:#fff;
}
a:active {
    position:relative;
    top:1px;
}
input {
     border:none;
     color:#fff;
    text-shadow:1px 1px 0 rgba(0,0,0,.5);
    cursor:pointer;
}
input:active {
    position:relative;
    top:1px;
}
/* supprime la bordure de sélection
*:focus{
  outline:none;
}*/
#intro {
    font-size:40px;
    color:hsl(0, 0%, 12%);
    text-align:center;
    text-shadow:0 1px 1px hsl(0, 0%, 80%);
    margin:0 0 80px;
}
#buttonLink {
    margin:20px auto;
    width:60%;
    border-bottom:1px solid #526474;
}
    #buttonLink a, #inputLink input {
        width:100px;
        height:40px;
         -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        box-shadow:inset 0 0 0 1px #617586,inset 0 0 40px 5px rgba(0,0,0,.3),0 0 2px 1px rgba(0,0,0,.5);
        margin:10px 10px 10px;
        display:block;
        float:left;
        background:#4a5e6f;
        text-align:center;
        line-height:40px;
    }
    #buttonLink a:hover, #inputLink input:hover {
        box-shadow:inset 0 0 0 1px #617586,inset 0 0 40px 5px rgba(0,0,0,.25),0 0 2px 1px rgba(0,0,0,.5);
    }
    a#link2, input#button2 {
        font-size:14px;
        color:#4a5e6f;
        letter-spacing:1px;
        text-shadow:0 1px rgba(250,250,250,.4),1px -1px 0 rgba(0,0,0,.5);
        border:1px solid #394a58;
        box-shadow:inset 0 0 0 1px #617586,inset 0 0 40px 5px rgba(0,0,0,.25),0 0 0 5px rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.5);
    }
    a:hover#link2, input#button2:hover  {
        border:1px solid #394a58;
        box-shadow:inset 0 0 0 1px #617586,inset 0 0 40px 5px rgba(0,0,0,.25),0 0 0 5px rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.5);
    }
    a#link3, input#button3 {
         box-shadow:inset 0 1px 0 #617586,inset 0 0 40px 5px rgba(0,0,0,.3),0 0 2px 1px rgba(0,0,0,.5);
    }
    a:hover#link3, input:hover#button3 {
            box-shadow:inset 0 -1px 0 #617586,inset 0 2px 8px rgba(0,0,0,.5), inset 0 0 40px 5px rgba(0,0,0,.25)/*,0 0 2px 1px rgba(0,0,0,.5)*/;
            color:#fff;
        }
    #buttonLink hr {
        clear:both;
        margin:0;
        border:none;
        border-top:1px solid #2e3a45;
    }
#inputLink {
    margin:20px auto;
    width:60%;
}
