@charset "utf-8";
/*-----------------------------------------------------------------------------------*/
/*	1.	nav
/*-----------------------------------------------------------------------------------*/
.navbar.navbar-default #defaultNavbar1  {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../img/%E5%BE%90%E6%82%B2%E9%B8%BF%20%E5%85%AB%E9%AA%8F%E5%9B%BE60X160.jpg);
	padding-top: 620px;
}
.navbar.navbar-default #nav-menu {
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	float: none;
}

#defaultNavbar1 .nav.navbar-nav {
}
.navbar-header .navbar-intro h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 36px;
	background-color: grey;
	opacity: 0.9;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 590px;
}
.nav-ppp    {
    float: right;
    font-size: 28px;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: grey;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    width: 590px;
    margin-top: 450px;
    margin-bottom: 0px;
    margin-right: 0px;


}

.navbar.navbar-default .navbar-header .navbar-intro {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 165px;
	margin-top: 120px;
}


.navbar-nav li > a.nav-icon {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-left: 25px;
	margin-right: 25px;
	height: 104px;
	margin-bottom: 5px;
	width: 120px;
}
#defaultNavbar1 .nav.navbar-nav.navbar-right {
	margin-right: 35px;
	margin-left: 0px;
	float: none;
	position: absolute;
	top: 4px;
	right: 0px;
}

	.nav-icon-logo{
	width: 100%;
	padding-top: 0px;
	margin-left: -15px;
	}

.nav-icon {
	font-size: 30px;
	margin-left: 18px;
	text-align: center;
	width: 100px;
	height: 116px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-icon-1 {
	margin-top: 10px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	/* [disabled]border-right-style: solid; */
	/* [disabled]border-bottom-style: solid; */
	border-top-color: #FFFFFF;
	border-top-style: solid;
	/* [disabled]border-top-width: 1.5px; */
	/* [disabled]border-right-width: 1.5px; */
	/* [disabled]border-bottom-width: 1.5px; */
	/* [disabled]border-radius: 0px 0px 60px 60px; */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
}

.nav-icon-2 {
	font-size: 30px;
	padding-left: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 10px;

}
.nav-icon-text {
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #A29C91;
	margin-right: -25px;
}
.nav-icon .glyphicon.glyphicon-list-alt.nav-icon-2 p {
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}
.nav-icon .glyphicon.glyphicon-earphone.nav-icon-2 p {
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}
.nav-icon .glyphicon.glyphicon-transfer.nav-icon-2 p {
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
}

.nav-icon-p {
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding-bottom: 0px;
}
.nav-icon-p-1 {
	font-size: 14px;
	padding-top: 10px;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-left: 0px;
}
.nav-icon-p-2 {
	font-size: 14px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
	margin-left: 4px;
}
.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}
.nav.navbar-nav li a:hover {
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	transition: 0.2s ease-in-out;
	border-bottom: 31px inset #A29C91;
	border-top-color: #CD983F;
	border-right-color: #CD983F;
}

#defaultNavbar1 .nav.navbar-nav .active1 a {
	transition: 0.2s ease-in-out;
	border-bottom: 31px solid #A29C91;

}
#defaultNavbar1 .nav.navbar-nav .active11 a:hover {
	transition: 0.2s ease-in-out;
	border-bottom: 31px solid #A29C91;
}
#defaultNavbar1 .nav.navbar-nav .nav-icon-a0 a {
    border-bottom: 4px solid #CD983F;

}
#defaultNavbar1 .nav.navbar-nav .nav-icon-aa a {
    border-bottom: 4px solid #16A25E;


}
#defaultNavbar1 .nav.navbar-nav .nav-icon-a a:hover {
	border-bottom: 31px inset #A29C91;
	transition: 0.2s ease-in-out;
}
#defaultNavbar1 .nav.navbar-nav .nav-icon-a2 a:hover  {
	border-bottom: 31px inset #A29C91;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	transition: 0.2s ease-in-out;
}
#nav-menu .nav-icon-a6 .nav-icon {
    border-bottom: 4px solid #233e5c;
}

#defaultNavbar1 .nav.navbar-nav.navbar-right .nav-icon-a3 {
	padding: 0px;
	color: #323232;
	width: 110px;
}

#defaultNavbar1 .nav.navbar-nav.navbar-right .nav-icon-a3 a:hover {
	border-bottom-width: 0px;
	border-left-width: 0px;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
}
/*-----------------------------------------------------------------------------------*/
/*	2.	home
/*-----------------------------------------------------------------------------------*/


.container-h1{
	margin-left: 15%;
}
.container-p {
    font-size: 18px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-indent: 2em;
}

.container.intro {
	margin-top: 105px;
}
.container-img{
    width: 100%;
}

.intro-part2 {
    margin-left: 25px;
}
.intro-h1 {
    font-size: 40px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}
.intro-line {
    border-bottom: 1px solid #CD983F;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    width: 40%;
}
.intro-line2 {
    width: 60%;
    border-bottom: 1px solid #CD983F;
    margin-top: 30px;
    margin-left: auto;
}



.intro-h2 {
    font-size: 34px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;
    font-weight: bold;
}

.intro-p {
    font-size: 24px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-indent: 2em;
}
.intro-content {
    margin-left: 50px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 20px;
    margin-top: 20px;
    text-indent: 2em;
}

.intro-icon {
	border-style: solid;
	border-width: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	border-radius: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
	margin-left: 42%;
	margin-top: 5px;
	letter-spacing: 2px;
	width: 16%;
	margin-bottom: 5px;
	font-weight: bold;
	
}
.intro-icon-2 {
	margin-left: 48.5%;

}

.intro-icon a {
    color: #4F4F4F;
    font-size: 20px;
}
.intro-icon a:hover {
	text-decoration: none;
	color: #CD983F;

}

.space {
	background-color: #F3F3F3;
	margin-top: 70px;
	margin-bottom: 20px;
}
.space-p {
	padding-top: 45px;
	padding-bottom: 10px;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 20px;
	font-weight: normal;
}

.container.pt {
    margin-top: 30px;
}
.pho-p {
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: left;
	text-transform: uppercase;
	width: 15px;
	line-height: 30px;
	word-break: break-all;
	margin-top: 60px;
}
.pho-titile {
    display: none;
}


.pho-style {
	color: #16A25E;
	font-weight: bolder;
	font-size: 36px;
}

.pho-line2 {
	width: 94%;
	border-top: 1px solid #16A25E;
	margin-top: 30px;
	margin-left: 8%;
	margin-bottom: 45px;
}
.pho-content {
    margin-left: 80px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 20px;
    margin-top: -50%;
}
.pho-content-ch {
	margin-left: 80px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 20px;
	margin-top: -20%;
}

.pho-img {
    margin-top: 20px;
}

.pho-icon {
	border-style: solid;
	border-width: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	border-radius: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
	margin-left: 45%;
	letter-spacing: 2px;
	width: 16%;
	margin-bottom: 5px;
	font-weight: bold;
}

.pho-icon-2 {
	margin-left: 51.5%;
}
.pho-icon a {
    color: #4F4F4F;
    font-size: 20px;
}
.pho-icon a:hover {
	text-decoration: none;
	color: #16A25E;
}

.space2-p  {
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 20px;
    font-weight: normal;
    background-color: #F3F3F3;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 70px;
    margin-bottom: 45px;
}


.pro-content {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #233e5c;
    margin-top: 35px;
}
.pro-content h5 {
	font-size: 43px;
	margin-bottom: 30px;
	color: #233e5c;

}
.pro-line {
	width: 40%;
	border-top: 2px solid #233e5c;
	margin-left: 30%;
}
.pro-line2 {
    width: 20%;
    border-top: 2px solid #233e5c;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40%;
}
.pro-p0   {
    margin-bottom: 25px;
}
.pro-content a {
	font-size: 40px;
	color: #000000;

}
.pro-content a:hover {
	color: #1665AD;

}

.pro-icon1 {
	font-size: 24px;
	margin-right: 30px;
}
.pro-icon2 {
	font-size: 24px;
	margin-left: 30px;
}

.pro-img {
	margin-top: -25px;
}
.pro-p {
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 28px;
    color: #233e5c;
    margin-bottom: 35px;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Photographs
/*-----------------------------------------------------------------------------------*/

#wrapper {
	margin:0 auto;
	background:#fff;
}

.centered-wrapper {
	width:1240px;
	margin:0 auto;
}

.double-separator {
	width:100%;
	height:1px;
	clear:both;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	margin:40px 0;
}

ul#filters {
	float:right;
}

ul#filters li {
	display:inline;
	margin:0 0 0 15px;
}

ul#filters li a {
	color:#323232;
}

ul#filters li a:hover {
	color:#BD0D0D;
}

ul#filters li.selected a {
	color:#BD0D0D;
}

a.selected {
	color:#BD0D0D;
}

.portfolio {
	clear:both;
	overflow:hidden;
	margin-right:-20px;
}

.portfolio li {
	margin-right:30px;
	float:left;
	position:relative;
	margin-bottom:20px;
	overflow:hidden;
	background:#fff;
	padding-bottom:5px;
	text-align:center;
	border-bottom:1px solid #808080;
   -webkit-transition:background 0.3s ease-in;
   -moz-transition:background 0.3s ease-in;
   -o-transition:background 0.3s ease-in;
   transition:background 0.3s ease-in;		
}

.portfolio li:hover {
	background:#808080;
}

.portfolio h1 {
	font-size:24px;
	font-weight:bold;
}

.portfolio p {
	padding:5px;
	font-size: 16px;
}	

#portfolio-wrapper .four-columns img {
	width:280px;
	height:auto;
	padding-left: 0px;
	
}


#portfolio-wrapper .four-columns li {
	width:280px;
	padding-left: 0px;
}


.item-details p {
	margin:0;
	padding:10px 0;
	border-bottom:1px dashed #efefef;
}

.item-details span {
	color:#000;
}

img {
	display:block;
	visibility:visible;
	opacity:1;
}

.carousel .item{
    max-height: 1000px;
    /* [disabled]margin-top: -50px; */
}

.carousel .item img{
        width:100%;
}
#carousel1 {
    margin-top: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	6.	project
/*-----------------------------------------------------------------------------------*/
.project{
	overflow: hidden;
	margin-top: 70px;
}
.project img{
	width: 50%;
}
.project-1 {
	width:  50%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.project-2{
	width:  50%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.project-3{
	width:  50%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.project-4{
	width:  50%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.project-h1 {
    font-size: 40px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;
    font-weight: bold;	
}

.project-p {
    font-size: 22px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-indent: 2em;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	footer
/*-----------------------------------------------------------------------------------*/

body footer {
	margin-top: 90px;

}
.footer-line {
	border-top: 1px solid #A5A5A5;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
}
.footer-ul-p1   {
	text-align: center;
	list-style: none;
	margin-top: 50px;
	padding-left: 0px;
}
.container h4 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	/* [disabled]font-weight: bold; */
	font-size: 32px;
	text-decoration: none;
}
.footer-timeline   {
	border-top: 2px solid #000000;
	width: 40%;
}

.footer-ul-p1 div .glyphicon.glyphicon-time {
    font-size: 34px;
}
.footer-ul-p1 div p {
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.footer-ul-p1 div .glyphicon.glyphicon-lock {
	font-size: 30px;
}.footer-ul-p1 div .glyphicon.glyphicon-map-marker {
	font-size: 34px;
}
.footer-ul-p1 div .glyphicon.glyphicon-phone-alt {
	font-size: 34px;
}
.footer-bg2  {
    background-color: #E5E5E5;
    margin-top: 70px;
    margin-left: 0px;
}
.footer-bg2 .footer-space {
    margin: 0px;


}
.footer-d {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 33%;
}


.footer-ul-p2   {
	list-style: none;
	text-align: center;
	padding-left: 25px;
	margin-top: 30px;
}

.footer-p2-title    {
	font-size: 24px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #646464;
}

.footer-ul-p2 li a {
	color: #646464;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 20px;
}

.footer-ul1-p2   {
    list-style: none;
    text-align: center;
    margin-top: 50px;
    border-left: 1px solid #868686;
    padding-left: 25px;
}

.footer-p2-title1   {
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #646464;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.footer-ul1-p2 li a {
	color: #646464;
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.footer-ul2-p2 {
    text-align: center;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 0px;
    border-left: 1px solid #868686;
    padding-left: 25px;
}

.footer-p2-title2   {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #646464;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.footer-ul2-p2 li a {
	color: #646464;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 18px;
}

.footer-p  {
	color: #9B9B9B;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}


@media (max-width:1024px){
	.container.intro {
	margin-top: 200px;
	}
	.container.pt {
	margin-top: 0px;
	}
	.pho-p {
	margin-top: 0px;
	}

	.intro-part2 {
	margin-left: 0px;
	}
	.intro-content {
	margin-left: 0px;
	font-size: 18px;
	}
	
	.pho-content {
	margin-top: -60%;
	}

	.centered-wrapper {
	width:1024px;
	margin:0 auto;
	}
	
	#portfolio-wrapper .four-columns img {
	width:384px;
	height:auto;
	padding-left: 0px;
	}

	#portfolio-wrapper .four-columns li {
	width:384px;
	padding-left: 0px;
	}
	
	.portfolio li {
    margin-left: 6.25%;
    margin-right: 6.25%;
    float: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #16A25E;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
	}

	.portfolio {
	clear:both;
	overflow:hidden;
	margin-right:0px;
	}
	.project img{
	width: 100%;
	}
	.project-2 {
	width: 100%;
	}
	.project-4 {
	width: 100%;
	}
	.footer-bg2 .footer-space {

	}
.pho-icon a {
	font-size: 18px;
}

}

@media (max-width:768px){
	.navbar-nav li > a.nav-icon {
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	width: 149px;
	}
	.container-h1{
    margin-left: 36%;
	}
	.container-p{
	font-size: 24px;
	}
	.nav-icon-logo{
	width: 100%;
	}

	.nav-icon-logo{
	}
	#defaultNavbar1 .nav.navbar-nav {
    margin-left: 25%;
    margin-right: 0%;
    margin-top: 0px;
	}
	
	#defaultNavbar1 .nav.navbar-nav.navbar-right {
    	margin-left: 25%;
		margin-right: 15%;
		margin-top: 10px;
	}
	
	.col-lg-12.header-bg .header-line {
	border-top: 2px solid #FFFFFF;
	width: 20%;
	margin-top: 15px;
	margin-bottom: 15px;
	}
	.space-p .space2-p{
	font-size: 20px;
	}
	.pho-content {
    margin-top: 0%;
    margin-left: auto;
    width: 97%;
    text-align: center;
	}
.pho-line2 {
    margin-left: 3%;
}

	.pho-p{
    display: none;
	}
.pho-icon {
    margin-left: 43%;
}
.pho-icon-2 {
    margin-left: 49.5%;
}



	.intro-content {
	margin-left: 0px;
	font-size: 24px;
	}
	.pho-content {
	font-size: 24px;
	}
	.footer-ul-p1 li p {
	font-size: 24px;
	}
.footer-ul-p1 div p {
    font-size: 26px;
}
.container h4 {
    font-size: 50px;
}


	.footer-p2-title1{
	font-size: 24px;
	}
	.footer-p2-title{
	font-size: 24px;
	}
	.footer-p2-title2{
	font-size: 24px;
	}
	.footer-ul1-p2 li a{
	font-size: 24px;
	}
	.footer-ul-p2 li a{
	font-size: 24px;
	}
	.footer-ul2-p2 li a {
	font-size: 24px;
	}
	.centered-wrapper {
	width:768px;
	margin:0 auto;
	}
	
	#portfolio-wrapper .four-columns img {
	width:512px;
	height:auto;
	padding-left: 0px;
	
	}

	#portfolio-wrapper .four-columns li {
	width:512px;
	padding-left: 0px;
	}
	
	.portfolio li {
    margin-left: 128px;
	margin-right: 128px;
    float: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #16A25E;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
	}

	.portfolio h4 {
	font-size:28px;
	font-weight:bold;
	}

	.portfolio p {
	font-size:26px;
	}	
	
	.portfolio {
	clear:both;
	overflow:hidden;
	margin-right:0px;
	}
	
	.footer-bg2 .footer-space {
	margin-left: 0px;
	}

	h1 {
	font-size: 28px;
	}
	.col-lg-12.header-bg .header-line{
	margin-top: 0px;
	}
	.col-lg-12.header-bg .header-info{
	margin-top: 0px;
	}
	.nav-icon {
	font-size: 30px;
	margin-left: 20%;
	text-align: center;
	width: 100px;
	height: 100px;
	}
	.nav-icon-2 {
	font-size: 30px;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 0px;

	}

	#defaultNavbar1 .nav.navbar-nav {
    margin-left: 0px;
    margin-right: 25%;
	}
	
	.centered-wrapper {
	width:auto;
	margin:0 auto;
	}
	
	#portfolio-wrapper .four-columns img {
	width:100%;
	height:auto;
	padding-left: 0px;
	}

	#portfolio-wrapper .four-columns li {
	width:80%;
	padding-left: 0px;
	}
	
	.portfolio li {
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #16A25E;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
	}

	.portfolio h4 {
	font-size:24px;
	font-weight:bold;
	}

	.portfolio p {
	font-size:20px;
	}	

	.portfolio {
	clear:both;
	overflow:hidden;
	margin-right:0px;
	}
	.container.intro {
    margin-top: 50px;
	}
	.project-1{
	width: 100%;
	}
	.project-3{
	width: 100%;
	}
	.footer-bg2 .footer-space {
	margin-left: 0px;
	}
	.footer-ul-p1 li p {
	font-size: 24px;
	}
	.footer-ul-p2 li a{
    font-size: 20px;
	}
	.footer-ul1-p2 li a{
	font-size: 14px;
	}
	.footer-ul2-p2 li a {
    font-size: 20px;
	}
.navbar.navbar-default .navbar-header .navbar-brand {
	padding: 6px;
}
.intro-part2 {
    margin-top: 30px;
}
.intro-img {
    margin-left: auto;
    margin-right: auto;

}
.footer-d {
	width: 100%;
}
.footer-ul1-p2 {
    border-left-style: none;
}
.footer-ul2-p2 {
    border-left-style: none;
}
.footer-p {
	width: 100%;
}
.pro-p0 {
    font-size: 24px;
}
.pro-content h5 {
    font-size: 50px;
}
.space2-p {
    font-size: 24px;
}
.nav-ppp {
	margin-top: 190px;
}
.nav-icon-text {
	margin-right: -179px;
}
}
@media screen and (min-width:768px) and (max-width:991px){
.navbar.navbar-default #defaultNavbar1 .nav.navbar-nav.navbar-right {
}
.intro-line2 {
    margin-left: auto;
    margin-right: auto;
	}
.pho-titile {
    display: block;
    font-size: 40px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.navbar.navbar-default #defaultNavbar1 #nav-menu {


}
.intro-h1 {
	margin-top: 20px;
}






}

@media screen and (max-width:1200px){
.footer-bg2 .footer-space.row {
	margin-left: 0px;
}
.intro-content {
	margin-left: 20px;
}
.intro-icon a {
	font-size: 16px;
}


}
.container-h1 {
}

	.col-sd-2{
		margin-left: 10%;
	}

@media screen and (max-width:414px){
.nav-icon-logo {
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
}

}

@media (max-width:560px){
.navbar-header .navbar-intro h1 {
	display: none;
}
.navbar.navbar-default .nav-ppp {
	display: none;
}
.navbar-header .navbar-brand .nav-icon-logo {
	width: 37%;
	margin-left: 5px;
	margin-right: 15px;

}
.intro-line2 {
	width: 100%;
}
.intro-icon a {
	font-size: 14px;
}
.pho-icon a {
	font-size: 14px;
}



.navbar.navbar-default .navbar-header {
	height: 30px;
}
.nav-icon-text {
    padding: 5px;
    font-size: 14px;
    margin-right: 4%;
}
.navbar.navbar-default #defaultNavbar1 {
    padding-left: 246px;

}
.navbar.navbar-default #nav-menu {
    width: 0px;
    margin-top: -182%;
    margin-left: -23%;
}







}

@media (max-width:416px){
.nav-icon-text {
    margin-right: 38%;
}
.navbar.navbar-default #nav-menu {
    margin-left: -86%;
    margin-top: -341%;
}


}
